 <% if notice.present? %>
<p class="alert alert-success">
  <%= notice %>
</p>
<% end %>

<%= render 'post', post: @post %>

<% if @post.pictures.present? %>
  <% @post.pictures.each do |picture| %>
   <%= image_tag(picture.image, width: 500) %>
  <% end %>
<% end %>